$pathFont: '../font/';
$pathImage: '../image/';

$spriteDefault: 'sprite-default.png';

$colorWhite: #fff;
$blue: #3896bd;
$hex-size: 6em;

/* Fonts
--------------------------------------------------------------*/
$fontArial: Arial, sans-serif;
$fontHelvetica: "Helvetica Neue", Helvetica, $fontArial;
$fontHelveticaBold: "Helvetica Neue Bold", $fontHelvetica;
$fontDinRegular: "DIN-regular", $fontHelvetica;
$fontDinBold: "DIN-bold", $fontHelvetica;
$fontDinBlack: "DIN-black", $fontHelvetica;
$fontDinLight: "DIN-light", $fontHelvetica;

$regularText: 15px/1.7 $fontDinRegular;

/* Breakpoint sizes
--------------------------------------------------------------*/

/* Colors
--------------------------------------------------------------*/
$colorRed: red;
$orange: #eb6227;
$blue: #3498db;
$darkBlue: #2980b9;

$grey: #eaeaec;
$darkGrey: #d9d9d9;
$darkGrey2: #212121;
$black: #0c0c0c;

$green: #00a000;
$darkGreen: #27ae60;

$yellow: #fbce53;

$red: #ff0000;
$darkRed: #c0392b;

$spacingLarge: 180px;
$spacing: 90px;
$mediumSpacing: 45px;
$smallSpacing: 25px;

/* Z-indexes
--------------------------------------------------------------*/
$maxZIndex: 1;
$maxWidth: 1224px;
$maxWidthMedium: 1024px;
$bezier: cubic-bezier(0.145, 0.865, 0.135, 0.865);
$shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.75);
