/*
 * Visually Hidden, shamelessly borrowed from H5BP:
 * https://github.com/h5bp/html5-boilerplate/blob/v4.2.0/css/main.css#L145
 */
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.hidden {
  display: none; }

.inline-block {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1; }

.ir {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }
